*.pyc
test.py
/build/
/result/
/index/
*.log
/.idea/
/motivation/data/
/motivation/result/
index
/attribution/build/
/attribution/data/
/attribution/result/
/dataset/
cmake-build-debug/
cmake-build-release/
/attribution/*.jpg
*.eps