*.pyc
test.py
/build/
/result/
/index/
*.log
/.idea/
/motivation/data/
/motivation/result/
index
/skyline-partition/build/
/skyline-partition/data/
/skyline-partition/result/
/dataset/
cmake-build-debug/