*.pyc
test.py
/build/
/result/
/index/
*.log
/.idea/
/motivation/data/
/motivation/result/
index
/attribution/build/
/attribution/data/
/attribution/result/
/dataset/
cmake-build-debug/
cmake-build-release/
/attribution/*.jpg
/attribution/*.txt
*.eps
/attribution/disk-index-compression/ignore-fig
/attribution/score-distribution/*.csv
/attribution/score-distribution/*.jpg
/attribution/theory/*.jpg
/attribution/disk-index-compression/*.jpg
/attribution/disk-index-compression/*.txt
/attribution/user-candidate-appearance/*.jpg
/attribution/user-candidate-appearance/*.txt
